# ----------------------------------------------------
# 1. 忽略虚拟环境
# ----------------------------------------------------
venv/
.venv/
env/

# ----------------------------------------------------
# 2. 忽略 Python 缓存和 Django 数据库
# ----------------------------------------------------
__pycache__/
*.pyc
db.sqlite3
*.log

# ----------------------------------------------------
# 3. 忽略 Node/React 缓存和依赖 (Frontend)
# ----------------------------------------------------
node_modules/
build/
.cache/
npm-debug.log

# ----------------------------------------------------
# 4. 忽略持久化数据（Docker Volume的内容）
# ----------------------------------------------------
# 虽然 data 文件夹在 docker-compose 中会被用作卷，
# 但为了保持 Git 仓库轻量，我们只追踪配置，不追踪数据本身。
data/